.page-footer {
  background-color: black;
  color: white;
}

.page-footer__social {
  display: block;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 25px;
}

.page-footer__logo {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
