.uniq-users {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: $fbold;
  font-size: 120px;
  line-height: 120px;
  width: 250px;
  text-align: center;
  margin-left: 30px;

  &__sup {
    position: absolute;
    top: 0;
    right: -35px;
    font-size: 30px;
    line-height: 30px;
    vertical-align: top;
    margin-left: 10px;
  }

  &__text {
    font-family: $fbook;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0 20px;
    margin-top: 7px;
  }
}

