body {
  font-size: 20px;
  line-height: 25px;
  font-family: $fbook;
  background-color: $white;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  cursor: pointer;
}
