// Fonts
$fbold: "FuturaPT-Bold", "Arial Bold", sans-serif;
$fbook: "FuturaPT-Book", "Arial", sans-serif;
$fdemi: "FuturaPT-Demi", "Arial", sans-serif;
$flight: "FuturaPT-Light", "Arial", sans-serif;
$rbold: "RobotoSlab-Bold", "Arial Bold", sans-serif;

// Colors

$fontgrey: #999999;
$backgrey: #f1f2f4;
$loadgrey: #010101;
$linegrey: #333333;
$white: #ffffff;
$black: #000000;
